@model GomocupOnline.Models.GomokuMatchModel

@{
    ViewBag.Title = Model.Player1 + " vs " + Model.Player2;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewBag.Title</h2>

@Html.Partial("MatchPartial", Model)

