@{
    ViewBag.Title = "Schedule 2015";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gomocup Schedule 2015, 1st-3rd of May 2015</h1>

<p>
    There will be 3 freestyle groups in Tournament 2015.
</p>


<h3> Friday morning</h3>

<ul>
    <li>3rd Freestyle 3 league - starts On Friday 2015 at 12:00 UTC/GMT time</li>
</ul>

<h3>Friday afternoon</h3>

<ul>
    <li>2nd Freestyle gomoku league</li>
    <li>Fastgame</li>
</ul>

<h3>Saturday 7:30 (Standard time zone UTC/GMT ) = 8:30 (Daylight saving time UTC/GMT)</h3>
<ul>
    <li>Standard gomoku league</li>
</ul>

<h3>Saturday 17:00(Standard time zone UTC/GMT ) = 18:00 (Daylight saving time UTC/GMT)</h3>

<ul>
    <li>1nd Freestyle gomoku league</li>
</ul>

<h3>Sunday</h3>

<ul>
    <li>Collecting results</li>
</ul>

<h3>What is new?</h3>

<h4>Updates</h4>
<ul>
    <li>Goro 2015 - quite different</li>
    <li>Hewer 2015 - faster, more strategic</li>
    <li>SlowRenju 2015 - improvement of searching algorithms and parameters</li>
    <li>Swine 2015 - more correct algorithm</li>
    <li>Kanec 2015 - not confirmed because of crashing - waiting for fixing the problem</li>
    <li>Yixin 2015 - algorithm has been improved and a bug has been fixed</li>
    <li>Zetor 2015 - bugs fixed</li>
    <li>Imro 2015 - improoved</li>
</ul>

<h4>New AI</h4>
<ul>
    <li>AcePela2 - open source AI based on Pela, source code and modifications are inlcuded</li>
    <li>XoXo15</li>
</ul>

<h4>Ranking 2014</h4>

<ol>
    <li>YIXIN2014</li>
    <li>RENJUSOLVER</li>
    <li>HEWER2014</li>
    <li>TITO2014</li>
    <li>SWINE2014</li>
    <li>HGARDEN07</li>
    <li>GORO2014</li>
    <li>PELA</li>
    <li>GMOTOR11</li>

    <li>SLOWRENJU2014</li>
    <li>KANEC</li>
    <li>HIGHFIVE</li>
    <li>JUDE</li>
    <li>AMOEBA10</li>
    <li>ZETOR</li>
    <li>QMENTAT6</li>
    <li>PECUCHET</li>
    <li>NOESIS</li>
    <li>NABAMOKU</li>

    <li>PUSKVOREC</li>
    <li>PUREGM12</li>
    <li>LICHT14</li>
    <li>FAST-GOMOKU14</li>
    <li>PISQ7</li>
    <li>IMRO13</li>
    <li>FIVEROW</li>
    <li>PROLOG</li>
    <li>BENJAMIN</li>
    <li>VALKYRIE</li>
    <li>CRUSHER10</li>
    <li>MUSHROOM</li>   																						
</ol>