
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule</h2>

<h3>Friday</h3>

<ul>
    <li>4th Freestyle league - starts about at 22 GMT</li>
</ul>

<h3>Saturday</h3>

<ul>
    <li>3rd Freestyle league</li>
    <li>2nd Freestyle league</li>
    <li>Maybe standard league</li>
</ul>

<h3>Sunday</h3>

<ul>
    <li>Fastgame</li>
    <li>1nd Freestyle league</li>
</ul>