@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    There will be only 3 freestyle groups in Tournament 2014, but the groups will be larger.
</p>


<h2>Schedule</h2>

<h3> Thursday - Friday</h3>

<ul>
    <li>3rd Freestyle 3 league - starts On April 2011 at 00:00 GMT</li>
</ul>

<h3>Friday</h3>

<ul>
    <li>2nd Freestyle gomoku league</li>
</ul>

<h3>Friday evening</h3>

<ul>
    <li>Fastgame</li>
</ul>

<h3>Saturday morning</h3>
<ul>
    <li>Standard gomoku league</li>  
</ul>

<h3>Saturday afternoon</h3>

<ul>
    <li>1nd Freestyle gomoku league</li>
</ul>

<h3>Sunday</h3>

<ul>
    <li>Collecting results</li>
</ul>

<h3>What is new?</h3>

<h4>Updates</h4>
<ul>
    <li>Goro 2014 - SEE instruction support</li>
    <li>Hewer 2014 - support hybrid architecture x64-x86, speeding up</li>
    <li>SlowRenju 2014 - algorithm</li>
    <li>Swine 2014 - algorithm</li>
    <li>Tito 2014 - Windows 8 support</li>
    <li>Yixin 2014 - algorithm</li>
</ul>

<h4>New AI</h4>
<ul>
    <li>FastGomoku</li>
    <li>Prolog</li>
    <li>Zetor</li>
    <li>HighFive</li>
    <li>Licht14</li>
</ul>

<p>
    Several old AI ws removed from Gomocup tournament, because dos programs are no more compatible with windows 8:
</p>
<ul>
    <li>Trunkat</li>
    <li>AI1000</li>
    <li>Leonardo</li>
    <li>Brutefor</li>
    <li>Curnpis</li>
</ul>
