
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    There will be only 3 freestyle groups in Tournament 2014, but the groups will be larger. Several old AI ws removed from Gomocup tournament, because dos programs are no more compatible with windows 8: Trunkat, AI100, Leonardo, Brutefor, Curnpis.
</p>


<h2>Schedule</h2>

<h3> Thursday - Friday</h3>

<ul>
    <li>3rd Freestyle 3 league - starts On April 2011 at 00:00 GMT</li>
</ul>

<h3>Friday</h3>

<ul>   
    <li>2nd Freestyle league</li>
    <li>Fastgame</li>
    
</ul>

<h3>Saturday</h3>

<ul>
    <li>Maybe standard league</li>
    <li>1nd Freestyle league</li>
</ul>

<h3>Sunday</h3>

<ul>
    <li>Collecting results</li>    
</ul>